

<option value="">--Select a Room--</option>
@if (ViewBag.SubcatOptions != null)
{

    foreach (var item in ViewBag.SubcatOptions)
    {

        <option value="@item.Value">@item.Text </option>

    }

}