@model Flats.SharedModel.LandLordSharedModels.MyFlatsIndex

@{
    ViewBag.Title = "MyFlats";
    Layout = "~/Views/Shared/_LayoutLandLord.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading"> List OF Flats</div>
    <div class="panel-body">
        @if (Model._ListFlats.Count != 0)
        {
            <div class="row">
                <div class=" col-lg-3"><strong>Flat Name</strong></div>
                <div class="col-lg-3"><strong>Address</strong></div>
                <div class="col-3"><strong>Status</strong></div>
                <div class="col-lg-3"><strong>Action</strong></div>
            </div>
            @foreach (var item in Model._ListFlats)
            {

                <div class="row">
                    <div class="col-lg-3"></div>
                   
                </div>
            }
        }
        else
        {
            <div><h3 class="text-danger text-center">Sorry No Records Found</h3></div>
        }
    </div>
</div>

