@model Flats.SharedModel.LandLordSharedModels.MyFlatsIndex
@using Flats.Enums.FlatsStatusEnums
@{
    ViewBag.Title = "MyFlats";
    Layout = "~/Views/Shared/_LayoutLandLord.cshtml";
}
<h1 class="text-center text-primary"> LandLord DashBoard</h1>
<div class="panel panel-info col-lg-6 shadow-sm">
    <div class="panel-heading"> List OF Flats</div>
    <div class="panel-body">
        @if (Model._ListFlats.Count != 0)
        {
            <div class="row">
                <div class=" col-lg-3"><strong>Flat Name</strong></div>
                <div class="col-lg-3"><strong>Address</strong></div>
                <div class="col-3"><strong>Status</strong></div>
                <div class="col-lg-3"><strong>Action</strong></div>
            </div>
            foreach (var item in Model._ListFlats.ToList())
            {
                <hr />
                <div class="row">
                    <div class="col-lg-3">@item.Name</div>
                    <div class="col-lg-3">@item.Address</div>
                    <div class="col-lg-3">@item.StatusDescription</div>
                    @if (item.Status == (int)FlatStatusEnum.ApplicationSubmitted)
                    {
                        <div class="col-lg-3"><a href="/LandLord/FlatDashBord/?FlatId=@item.Id" class="btn btn-primary">Upload</a></div>
                    }
                    else
                    {
                        <div class="col-lg-3"><a class="btn btn-primary">View Flat</a></div>
                    }
                </div>
            }
        }
        else
        {
            <div><h3 class="text-danger text-center">Sorry No Records Found</h3></div>
        }
    </div>
</div>

