@model Flats.SharedModel.RoomOccupantSharedModels.RoomOccupantSharedModel

@{
    ViewBag.Title = "Proccess";
    Layout = "~/Views/Shared/_LayoutLandLord.cshtml";
}

<h2>Proccess</h2>

<p>@Model.FirstName</p>
