@model Flats.SharedModel.AdminSharedModel.Success

@{
    ViewBag.Title = "Sucess";
    Layout = "~/Views/Shared/_LayoutLandLord.cshtml";
}

<h1 class="text-success text-center">@Model.Title</h1>
<h2 class="text-success text-center">@Model.Body</h2>


