@model Flats.SharedModel.FlatSharedModels.CreateUpdateFlatSharedModel

@{
    ViewBag.Title = "FlatApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   
    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>How to become a landlord</h3>
                        <p>Increase your Flat profit by registering your flat whith us</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <header style="margin-bottom:60px; margin-top:30px;">
            <h2 class="text-center" style="font-size:50px;">
                Becoming one of our landLords in 3 simple steps
            </h2>
        </header>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="destination_info">
                        <h3 class="text-center">Fill in the application form</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="destination_info">
                        <h3 class="text-center">Set up an appointment </h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="destination_info">
                        <h3 class="text-center">Flat review</h3>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing.</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
<section>
    <a href="/Flats/startapplication" class="btn btn-lg btn-primary" style="margin-left:50%; margin-bottom:60px; margin-top:50px;"> Apply Now! </a>
</section>
