
@{
    ViewBag.Title = "Sucess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel">
    <div class="row">
        <div class="col-lg-5 d-none d-lg-block">
            <img src="~/Content/MySvg/undraw_done_a34v.png" style="margin-left:140px;" />
        </div>
        <div class="col-lg-7">
            <h1 class="text-center" style=" color:green; margin-top:80px;">You have Successfuly Completed Your Flat Application </h1>
            <p class="text-center text-info"><span class="text-muted">We will get back to you in less  than 48HRS</span> </p>

        </div>
    </div>
</div>

